# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Flask files
instance/
*.log
*.pot
*.pyc
*.pyo
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MacOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db
